.sidebar-mini .logo-lg {
    display: block;
}

.sidebar-mini .logo-mini {
    display: none;
}

.sidebar-mini .lg-brand {
    font-weight: 500 !important;
}

.sidebar-mini.sidebar-collapse .logo-lg {
    display: none;
}

.sidebar-mini.sidebar-collapse .logo-mini{
    display: block;
}

.sidebar-mini.sidebar-collapse .mini-brand {
    visibility: visible !important;
    animation: initial !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: 500 !important;
}

.input-group-addon {
    background-color: #fff;
    padding: 9px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #6b6b6b;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.search-button-dashboard {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
    padding-right: 7.5px;
}

.search-button-dashboard .btn {
    width: 47%;
    margin-right: 1%;
}
.search-button-dashboard button:last-child {
    margin-right: 0; /* Removes margin for the last button */
}

.small-box-footer {
    height: 30px;
}

.info-box {
    min-height: 130px;
}

.info-box .info-box-icon {
    width: 120px;
}

.info-box .info-box-content {
    padding: 0px 25px;
}

.m-tbl{
    font-size: 15px;
}


/* Table admin */
.admin_table {
    /* padding: 0 15px;*/
    width: 100%;
    float: left;
}
table.admin {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    /* background: #eeefe8;*/
    -webkit-box-shadow: 7px 22px 40px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 22px 40px -1px rgba(0,0,0,0.15);
    box-shadow: 7px 22px 40px -1px rgba(0,0,0,0.15);
}
table.admin thead {
    background: #3c8dbc;
    color: #fff;
}
table.admin tr {
    border: 1px solid #ddd;
    padding: 5px;
}
table.admin th,
table.admin td {
    padding: 10px;
    text-align: center;
}
table.admin th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.about_company p {
    text-align: justify;
}
@media screen and (max-width: 600px) {
    table.admin {
        border: 0;
    }
    table.admin thead {
        display: none;
    }
    table.admin tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table.admin td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px solid #ccc;
    }
    table.admin td:last-child {
        border-bottom: 0;
    }
    table.admin td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}