.width-87 {
	width: 87px !important;
}
.width-140 {
	width: 140px !important;
}
.width-150 {
	width: 150px !important;
}
.height-35 {
	height: 35px !important;
}
.margin-top-minus-8 {
	margin-top: -8px !important;
}
.margin-right-5{
	margin-right: 5px !important;
}